services:
  timemachine:
    network_mode: "host"
    environment:
      - TM_USERNAME=${TM_USERNAME:-tmuser}
      - TM_GROUPNAME=${TM_GROUPNAME:-timemachine}
      - PASSWORD=${TM_PASSWORD:-tmpassword}
      - TM_UID=1000
      - TM_GID=1000
      - SET_PERMISSIONS=false
      - VOLUME_SIZE_LIMIT=750G
    restart: unless-stopped
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139"
      - "445:445"
    volumes:
      - /mnt/timemachine/backups:/opt/timemachine
    tmpfs:
      - /run/samba
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    container_name: timemachine
    image: mbentley/timemachine:smb